<header id="navbar" class="fixed top-0 left-0 z-50 w-full bg-black bg-opacity-0 backdrop-blur-md">
  <nav class="container flex items-center justify-between h-16 sm:h-20">
    <div class="font-bold transition-transform font-poppins sm:text-2xl hover:scale-110">Cr<span class="bg-gradient-to-r from-[#24FFE5] to-[#0057a0] bg-clip-text text-transparent">is</span></div>

    <div id="nav-menu" class="absolute top-0 overflow-hidden left-[-100%] min-h-[100vh] w-full bg-black/80 backdrop-blur-sm flex items-center justify-center duration-300 lg:static lg:min-h-fit lg:bg-transparent lg:w-auto">
      <ul class="flex flex-col items-center gap-5 lg:flex-row">
        <li>
          <a href="#home" class="nav-link active">Home</a>
        </li>
        <li>
          <a href="#proyectos" class="nav-link">Proyectos</a>
        </li>
        <li>
          <a href="#habilidades" class="nav-link">Habilidades</a>
        </li>
        <li>
          <a href="#contacto" class="nav-link">Contacto</a>
        </li>
      </ul>
    </div>

    <div id="hamburguer" class="z-50 text-xl text-white cursor-pointer sm:text-3xl lg:hidden">
      <i class="ri-menu-line"></i> 
    </div>
  </nav>
</header>

